@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Philosopher&display=swap');
:root{
  --orange:#ff6d00;
  --violet:#240046;
  --bgcolor: #ffb600;
}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
  background-color: var(--bgcolor);
}
.todo{
  background-image: linear-gradient(45deg,var(--orange),var(--violet));
  width: 400px;
  height: 600px;
  border-radius: 15px;
  box-shadow: -4px 4px 30px var(--violet), 4px -4px 30px var(--orange);
  margin: 30px auto;
}
h1{
  font-family: Philosopher;
  font-size: 40px;
  color: var(--orange);
  text-shadow: 4px 4px 8px var(--violet), 4px -4px 8px var(--orange);
  text-align: center;
  padding: 30px;
}